// Typography
// --------------------------------

// Fonts
// -------------------------
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font-Weight
// -------------------------
$weightNormal: 400;
$weightBold: 600;

// Font Path
$FontPath: "../../fonts" !default;
