body {
    font-family: $baseFontFamily;
    font-size: 0.875em;
    line-height: 1.2em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: desaturate(red, 25%);
}

.fl {
    float: left;
}

.fr {
    float: right;
}